.header-component{
  .nav-content{
      // background-image: linear-gradient(15deg, #80d0c7 0%, #13547a 100%);

      background-color: #a4508b;
      background-image: linear-gradient(326deg, #5f0a87 0%, #a4508b 50%);


      a:hover{
        transform: scale(1.2);
        color : #000;
      }

      .fa-tasks{
        margin-right: 5px;
      }

      .nav-item{
        margin: 0px 5px;
      }
    }

    .container-fluid{
      padding: 0px 20px;
    }
}
